[submodule "packages/haive-agents"]
	path = packages/haive-agents
	url = ./packages/haive-agents
[submodule "packages/haive-core"]
	path = packages/haive-core
	url = https://github.com/pr1m8/haive-core.git
[submodule "packages/haive-games"]
	path = packages/haive-games
	url = https://github.com/pr1m8/haive-games.git
[submodule "packages/haive-dataflow"]
	path = packages/haive-dataflow
	url = https://github.com/pr1m8/haive-dataflow.git
[submodule "packages/haive-prebuilt"]
	path = packages/haive-prebuilt
	url = https://github.com/pr1m8/haive-prebuilt.git
[submodule "packages/haive-tools"]
	path = packages/haive-tools
	url = https://github.com/pr1m8/haive-tools.git
