# Python cache & bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pkl
*.log
# Jupyter notebooks (if you don’t want them public)
*.ipynb
*.ipynb_checkpoints/




# Virtual environments
.venv/
env/
venv/

# Environment files
.env
.env.*
.env

# Poetry
poetry.lock

# Credentials and secrets
credentials.json
resources/
scratches/
reports/
# Certificates & keys
*.pem
*.key
*.crt
*.cert
*.der
*.pfx
*.p12

# PyCharm/VSCode or other IDEs (optional)
.idea/
.vscode/
