"""{{ function_description|default(function_name|replace('_', ' ')|capitalize) }}.

{% if detailed_description %}
{{ detailed_description }}
{% endif %}

{% if args %}
Args:
{% for arg in args %}
    {{ arg.name }}{% if arg.annotation %} ({{ arg.annotation }}){% endif %}: {{ arg.description|default('The ' + arg.name|replace('_', ' ')) }}.
        {%- if arg.default %} Default: {{ arg.default }}.{% endif %}
        {%- if arg.choices %} Choices: {{ arg.choices|join(', ') }}.{% endif %}
{% endfor %}
{% endif %}

{% if returns %}
Returns:
    {% if returns.annotation %}{{ returns.annotation }}: {% endif %}{{ returns.description|default('The result of the operation') }}.
{% endif %}

{% if yields %}
Yields:
    {% if yields.annotation %}{{ yields.annotation }}: {% endif %}{{ yields.description|default('The next value in the sequence') }}.
{% endif %}

{% if raises %}
Raises:
{% for exc in raises %}
    {{ exc.type }}: {{ exc.description }}.
{% endfor %}
{% endif %}

{% if examples %}
Examples:
    >>> {{ function_name }}({{ example_args|default('') }})
    {{ example_output|default('...') }}
    
    {% if additional_examples %}
    {{ additional_examples|indent(4) }}
    {% endif %}
{% endif %}

{% if see_also %}
See Also:
    {{ see_also }}
{% endif %}

{% if notes %}
Notes:
    {{ notes }}
{% endif %}

{% if warnings %}
Warnings:
    {{ warnings }}
{% endif %}
"""