--extra-index-url https://download.pytorch.org/whl/cu118

-e file:///home/will/Projects/haive/backend/haive/packages/haive-agents ; python_version == "3.12"
-e file:///home/will/Projects/haive/backend/haive/packages/haive-core ; python_version == "3.12"
-e file:///home/will/Projects/haive/backend/haive/packages/haive-dataflow ; python_version == "3.12"
-e file:///home/will/Projects/haive/backend/haive/packages/haive-games ; python_version == "3.12"
-e file:///home/will/Projects/haive/backend/haive/packages/haive-mcp ; python_version == "3.12"
-e file:///home/will/Projects/haive/backend/haive/packages/haive-prebuilt ; python_version == "3.12"
-e file:///home/will/Projects/haive/backend/haive/packages/haive-tools ; python_version == "3.12"
about-time==4.2.1 ; python_version == "3.12"
accelerate==1.9.0 ; python_version == "3.12"
aiofiles==24.1.0 ; python_version == "3.12"
aiohappyeyeballs==2.6.1 ; python_version == "3.12"
aiohttp-retry==2.9.1 ; python_version == "3.12"
aiohttp==3.12.15 ; python_version == "3.12"
aiosignal==1.4.0 ; python_version == "3.12"
aiosqlite==0.21.0 ; python_version == "3.12"
alive-progress==3.3.0 ; python_version == "3.12"
annotated-types==0.7.0 ; python_version == "3.12"
ansicon==1.89.0 ; python_version == "3.12" and platform_system == "Windows"
anthropic==0.60.0 ; python_version == "3.12"
anyio==4.9.0 ; python_version == "3.12"
appnope==0.1.4 ; python_version == "3.12" and platform_system == "Darwin"
argcomplete==3.6.2 ; python_version == "3.12"
art==6.5 ; python_version == "3.12"
arxiv==2.2.0 ; python_version == "3.12"
astor==0.8.1 ; python_version == "3.12"
asttokens==2.4.1 ; python_version == "3.12"
asyncpg==0.30.0 ; python_version == "3.12"
attrs==25.3.0 ; python_version == "3.12"
authlib==1.6.1 ; python_version == "3.12"
backoff==2.2.1 ; python_version == "3.12"
banks==2.2.0 ; python_version == "3.12"
bcrypt==4.3.0 ; python_version == "3.12"
beautifulsoup4==4.13.4 ; python_version == "3.12"
bitarray==3.6.0 ; python_version == "3.12"
blessed==1.21.0 ; python_version == "3.12"
blinker==1.9.0 ; python_version == "3.12"
boto3==1.39.16 ; python_version == "3.12"
botocore==1.39.16 ; python_version == "3.12"
bottleneck==1.5.0 ; python_version == "3.12"
brotli==1.1.0 ; python_version == "3.12"
cachetools==5.5.2 ; python_version == "3.12"
catalogue==2.0.10 ; python_version == "3.12"
certifi==2025.7.14 ; python_version == "3.12"
cffi==1.17.1 ; python_version == "3.12"
cfgv==3.4.0 ; python_version == "3.12"
chardet==5.2.0 ; python_version == "3.12"
charset-normalizer==3.4.2 ; python_version == "3.12"
chess==1.11.2 ; python_version == "3.12"
click-repl==0.3.0 ; python_version == "3.12"
click==8.2.1 ; python_version == "3.12"
colbert-ai==0.2.21 ; python_version == "3.12"
colorama==0.4.6 ; python_version == "3.12"
coloredlogs==15.0.1 ; python_version == "3.12"
colorlog==6.9.0 ; python_version == "3.12"
comm==0.2.3 ; python_version == "3.12"
contourpy==1.3.3 ; python_version == "3.12"
cryptography==45.0.4 ; python_version == "3.12"
cssselect==1.3.0 ; python_version == "3.12"
cssutils==2.11.1 ; python_version == "3.12"
cycler==0.12.1 ; python_version == "3.12"
cyclopts==3.22.3 ; python_version == "3.12"
dataclasses-json==0.6.7 ; python_version == "3.12"
datasets==4.0.0 ; python_version == "3.12"
debugpy==1.8.15 ; python_version == "3.12"
decorator==5.2.1 ; python_version == "3.12"
deepl==1.22.0 ; python_version == "3.12"
defusedxml==0.7.1 ; python_version == "3.12"
dependency-groups==1.3.1 ; python_version == "3.12"
deprecated==1.2.18 ; python_version == "3.12"
deprecation==2.1.0 ; python_version == "3.12"
dill==0.3.8 ; python_version == "3.12"
dirtyjson==1.0.8 ; python_version == "3.12"
discord-py==2.5.2 ; python_version == "3.12"
discord==2.3.2 ; python_version == "3.12"
distlib==0.4.0 ; python_version == "3.12"
distro==1.9.0 ; python_version == "3.12"
dnspython==2.7.0 ; python_version == "3.12"
docling-core==2.44.0 ; python_version == "3.12"
docling-ibm-models==3.9.0 ; python_version == "3.12"
docling-parse==4.1.0 ; python_version == "3.12"
docling==2.43.0 ; python_version == "3.12"
docstring-parser==0.17.0 ; python_version == "3.12"
docutils==0.21.2 ; python_version == "3.12"
duckduckgo-search==7.5.5 ; python_version == "3.12"
easyocr==1.7.2 ; python_version == "3.12"
email-validator==2.2.0 ; python_version == "3.12"
emoji==2.14.1 ; python_version == "3.12"
esprima==4.0.1 ; python_version == "3.12"
et-xmlfile==2.0.0 ; python_version == "3.12"
exceptiongroup==1.3.0 ; python_version == "3.12"
executing==2.2.0 ; python_version == "3.12"
fabric==3.2.2 ; python_version == "3.12"
faiss-cpu==1.11.0.post1 ; python_version == "3.12"
faiss-gpu-cu12==1.11.0 ; python_version == "3.12"
fast-langdetect==0.3.2 ; python_version == "3.12"
fast-pytorch-kmeans==0.2.2 ; python_version == "3.12"
fastapi==0.115.14 ; python_version == "3.12"
fastmcp==2.10.6 ; python_version == "3.12"
fasttext-predict==0.9.2.4 ; python_version == "3.12"
feedparser==6.0.11 ; python_version == "3.12"
ffmpy==0.6.1 ; python_version == "3.12"
filelock==3.18.0 ; python_version == "3.12"
filetype==1.2.0 ; python_version == "3.12"
fireworks-ai==0.15.15 ; python_version == "3.12"
flashrank==0.2.10 ; python_version == "3.12"
flask==3.1.1 ; python_version == "3.12"
flatbuffers==25.2.10 ; python_version == "3.12"
fonttools==4.59.0 ; python_version == "3.12"
frozenlist==1.7.0 ; python_version == "3.12"
fsspec==2025.3.0 ; python_version == "3.12"
gcld3==3.0.13 ; python_version == "3.12"
gevent==25.5.1 ; python_version == "3.12"
git-python==1.0.3 ; python_version == "3.12"
gitdb==4.0.12 ; python_version == "3.12"
gitpython==3.1.45 ; python_version == "3.12"
google-ai-generativelanguage==0.6.18 ; python_version == "3.12"
google-api-core==2.25.1 ; python_version == "3.12"
google-api-python-client==2.177.0 ; python_version == "3.12"
google-auth-httplib2==0.2.0 ; python_version == "3.12"
google-auth-oauthlib==1.2.2 ; python_version == "3.12"
google-auth==2.40.3 ; python_version == "3.12"
google-cloud-aiplatform==1.105.0 ; python_version == "3.12"
google-cloud-bigquery==3.35.1 ; python_version == "3.12"
google-cloud-core==2.4.3 ; python_version == "3.12"
google-cloud-resource-manager==1.14.2 ; python_version == "3.12"
google-cloud-storage==2.19.0 ; python_version == "3.12"
google-crc32c==1.7.1 ; python_version == "3.12"
google-genai==1.27.0 ; python_version == "3.12"
google-resumable-media==2.7.2 ; python_version == "3.12"
google-search-results==2.4.2 ; python_version == "3.12"
googleapis-common-protos==1.70.0 ; python_version == "3.12"
googletrans==4.0.2 ; python_version == "3.12"
gotrue==2.12.3 ; python_version == "3.12"
gradio-client==1.11.0 ; python_version == "3.12"
gradio==5.38.2 ; python_version == "3.12"
graphemeu==0.7.2 ; python_version == "3.12"
graphviz==0.20.3 ; python_version == "3.12"
greenlet==3.2.3 ; python_version == "3.12"
griffe==1.9.0 ; python_version == "3.12"
groovy==0.1.2 ; python_version == "3.12"
groq==0.30.0 ; python_version == "3.12"
grpc-google-iam-v1==0.14.2 ; python_version == "3.12"
grpcio-status==1.74.0 ; python_version == "3.12"
grpcio==1.74.0 ; python_version == "3.12"
h11==0.16.0 ; python_version == "3.12"
h2==4.2.0 ; python_version == "3.12"
halo==0.0.31 ; python_version == "3.12"
hf-xet==1.1.5 ; python_version == "3.12" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hpack==4.1.0 ; python_version == "3.12"
html2text==2024.2.26 ; python_version == "3.12"
html5lib==1.1 ; python_version == "3.12"
httpcore==1.0.9 ; python_version == "3.12"
httplib2==0.22.0 ; python_version == "3.12"
httpx-sse==0.4.0 ; python_version == "3.12"
httpx-ws==0.7.2 ; python_version == "3.12"
httpx==0.28.1 ; python_version == "3.12"
huggingface-hub==0.34.3 ; python_version == "3.12"
humanfriendly==10.0 ; python_version == "3.12"
hyperframe==6.1.0 ; python_version == "3.12"
identify==2.6.12 ; python_version == "3.12"
idna==3.10 ; python_version == "3.12"
imageio==2.37.0 ; python_version == "3.12"
iniconfig==2.1.0 ; python_version == "3.12"
inquirerpy==0.3.4 ; python_version == "3.12"
invoke==2.2.0 ; python_version == "3.12"
ipykernel==6.30.0 ; python_version == "3.12"
ipython==8.37.0 ; python_version == "3.12"
isodate==0.7.2 ; python_version == "3.12"
itsdangerous==2.2.0 ; python_version == "3.12"
jedi==0.17.2 ; python_version == "3.12"
jinja2==3.1.6 ; python_version == "3.12"
jinxed==1.3.0 ; python_version == "3.12" and platform_system == "Windows"
jiter==0.10.0 ; python_version == "3.12"
jmespath==1.0.1 ; python_version == "3.12"
joblib==1.5.1 ; python_version == "3.12"
json-repair==0.39.1 ; python_version == "3.12"
jsonlines==3.1.0 ; python_version == "3.12"
jsonpatch==1.33 ; python_version == "3.12"
jsonpointer==3.0.0 ; python_version == "3.12"
jsonref==1.1.0 ; python_version == "3.12"
jsonschema-pydantic==0.6 ; python_version == "3.12"
jsonschema-specifications==2025.4.1 ; python_version == "3.12"
jsonschema==4.25.0 ; python_version == "3.12"
jupyter-client==8.6.3 ; python_version == "3.12"
jupyter-core==5.8.1 ; python_version == "3.12"
kiwisolver==1.4.8 ; python_version == "3.12"
langchain-anthropic==0.3.18 ; python_version == "3.12"
langchain-community==0.3.27 ; python_version == "3.12"
langchain-core==0.3.72 ; python_version == "3.12"
langchain-deepseek==0.1.2 ; python_version == "3.12"
langchain-discord-shikenso==1.1.1 ; python_version == "3.12"
langchain-discord==1.0.2 ; python_version == "3.12"
langchain-docling==0.2.0 ; python_version == "3.12"
langchain-experimental==0.3.4 ; python_version == "3.12"
langchain-fireworks==0.2.9 ; python_version == "3.12"
langchain-google-genai==2.1.8 ; python_version == "3.12"
langchain-google-vertexai==2.0.27 ; python_version == "3.12"
langchain-groq==0.3.6 ; python_version == "3.12"
langchain-huggingface==0.3.1 ; python_version == "3.12"
langchain-mcp-adapters==0.1.9 ; python_version == "3.12"
langchain-mcp-tools==0.2.10 ; python_version == "3.12"
langchain-mistralai==0.2.11 ; python_version == "3.12"
langchain-mongodb==0.5.0 ; python_version == "3.12"
langchain-neo4j==0.3.0 ; python_version == "3.12"
langchain-nvidia-ai-endpoints==0.3.13 ; python_version == "3.12"
langchain-ollama==0.3.6 ; python_version == "3.12"
langchain-openai==0.3.6 ; python_version == "3.12"
langchain-salesforce==0.1.2 ; python_version == "3.12"
langchain-text-splitters==0.3.9 ; python_version == "3.12"
langchain-together==0.3.0 ; python_version == "3.12"
langchain==0.3.27 ; python_version == "3.12"
langdetect==1.0.9 ; python_version == "3.12"
langgraph-checkpoint-mongodb==0.1.3 ; python_version == "3.12"
langgraph-checkpoint-postgres==2.0.23 ; python_version == "3.12"
langgraph-checkpoint==2.1.1 ; python_version == "3.12"
langgraph-prebuilt==0.1.8 ; python_version == "3.12"
langgraph-sdk==0.1.74 ; python_version == "3.12"
langgraph==0.3.34 ; python_version == "3.12"
langid==1.1.6 ; python_version == "3.12"
langsmith==0.4.8 ; python_version == "3.12"
latex2mathml==3.78.0 ; python_version == "3.12"
lazy-loader==0.4 ; python_version == "3.12"
linkify-it-py==2.0.3 ; python_version == "3.12"
llama-cloud-services==0.6.52 ; python_version == "3.12"
llama-cloud==0.1.35 ; python_version == "3.12"
llama-index-agent-openai==0.4.12 ; python_version == "3.12"
llama-index-cli==0.4.4 ; python_version == "3.12"
llama-index-core==0.12.42 ; python_version == "3.12"
llama-index-embeddings-openai==0.3.1 ; python_version == "3.12"
llama-index-indices-managed-llama-cloud==0.8.0 ; python_version == "3.12"
llama-index-llms-openai==0.4.7 ; python_version == "3.12"
llama-index-multi-modal-llms-openai==0.5.1 ; python_version == "3.12"
llama-index-program-openai==0.3.2 ; python_version == "3.12"
llama-index-question-gen-openai==0.3.1 ; python_version == "3.12"
llama-index-readers-file==0.4.8 ; python_version == "3.12"
llama-index-readers-llama-parse==0.4.0 ; python_version == "3.12"
llama-index==0.12.42 ; python_version == "3.12"
llama-parse==0.6.52 ; python_version == "3.12"
log-symbols==0.0.14 ; python_version == "3.12"
lxml==5.4.0 ; python_version == "3.12"
markdown-it-py==3.0.0 ; python_version == "3.12"
markdownify==1.1.0 ; python_version == "3.12"
marko==2.1.4 ; python_version == "3.12"
markupsafe==3.0.2 ; python_version == "3.12"
marshmallow==3.26.1 ; python_version == "3.12"
matplotlib-inline==0.1.7 ; python_version == "3.12"
matplotlib==3.10.3 ; python_version == "3.12"
mcp==1.12.2 ; python_version == "3.12"
mdit-py-plugins==0.4.2 ; python_version == "3.12"
mdurl==0.1.2 ; python_version == "3.12"
more-itertools==10.7.0 ; python_version == "3.12"
motor==3.7.1 ; python_version == "3.12"
mpire==2.10.2 ; python_version == "3.12"
mpmath==1.3.0 ; python_version == "3.12"
multidict==6.6.3 ; python_version == "3.12"
multiprocess==0.70.16 ; python_version == "3.12"
mwparserfromhell==0.6.6 ; python_version == "3.12"
mypy-extensions==1.1.0 ; python_version == "3.12"
neo4j==5.28.1 ; python_version == "3.12"
nest-asyncio==1.6.0 ; python_version == "3.12"
networkx==3.5 ; python_version == "3.12"
ninja==1.11.1.4 ; python_version == "3.12"
nltk==3.9.1 ; python_version == "3.12"
nodeenv==1.9.1 ; python_version == "3.12"
nox==2025.5.1 ; python_version == "3.12"
numexpr==2.11.0 ; python_version == "3.12"
numpy==1.26.4 ; python_version == "3.12"
nvidia-cublas-cu11==11.11.3.6 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cublas-cu12==12.1.3.1 ; python_version == "3.12"
nvidia-cuda-cupti-cu11==11.8.87 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cuda-nvrtc-cu11==11.8.89 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cuda-runtime-cu11==11.8.89 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cuda-runtime-cu12==12.1.105 ; python_version == "3.12"
nvidia-cudnn-cu11==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cufft-cu11==10.9.0.58 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-curand-cu11==10.3.0.86 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cusolver-cu11==11.4.1.48 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-cusparse-cu11==11.7.5.86 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-nccl-cu11==2.21.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
nvidia-nvtx-cu11==11.8.86 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
oauthlib==3.3.1 ; python_version == "3.12"
olefile==0.47 ; python_version == "3.12"
ollama==0.5.1 ; python_version == "3.12"
onnx==1.18.0 ; python_version == "3.12"
onnxruntime==1.22.1 ; python_version == "3.12"
openai==1.97.1 ; python_version == "3.12"
openapi-pydantic==0.5.1 ; python_version == "3.12"
opencv-python-headless==4.11.0.86 ; python_version == "3.12"
openpyxl==3.1.5 ; python_version == "3.12"
orjson==3.11.1 ; python_version == "3.12"
ormsgpack==1.10.0 ; python_version == "3.12"
packaging==25.0 ; python_version == "3.12"
pandas==2.3.1 ; python_version == "3.12"
paramiko==3.5.1 ; python_version == "3.12"
parso==0.7.1 ; python_version == "3.12"
pdfminer-six==20250327 ; python_version == "3.12"
pdfminer==20191125 ; python_version == "3.12"
pdfplumber==0.11.6 ; python_version == "3.12"
pexpect==4.9.0 ; python_version == "3.12"
pfzy==0.3.4 ; python_version == "3.12"
pick==2.4.0 ; python_version == "3.12"
pillow==11.3.0 ; python_version == "3.12"
platformdirs==4.3.8 ; python_version == "3.12"
playwright-stealth==1.0.6 ; python_version == "3.12"
playwright==1.54.0 ; python_version == "3.12"
pluggy==1.6.0 ; python_version == "3.12"
plumbum==1.9.0 ; python_version == "3.12"
portalocker==3.2.0 ; python_version == "3.12"
postgrest==1.1.1 ; python_version == "3.12"
pre-commit==4.2.0 ; python_version == "3.12"
premailer==3.10.0 ; python_version == "3.12"
primp==0.15.0 ; python_version == "3.12"
prometheus-client==0.21.1 ; python_version == "3.12"
prompt-toolkit==3.0.51 ; python_version == "3.12"
propcache==0.3.2 ; python_version == "3.12"
proto-plus==1.26.1 ; python_version == "3.12"
protobuf==6.31.1 ; python_version == "3.12"
psutil==6.1.1 ; python_version == "3.12"
psycopg-pool==3.2.6 ; python_version == "3.12"
psycopg2==2.9.10 ; python_version == "3.12"
psycopg==3.2.9 ; python_version == "3.12"
ptyprocess==0.7.0 ; python_version == "3.12"
pure-eval==0.2.3 ; python_version == "3.12"
pyaes==1.6.1 ; python_version == "3.12"
pyarrow==19.0.1 ; python_version == "3.12"
pyasn1-modules==0.4.2 ; python_version == "3.12"
pyasn1==0.6.1 ; python_version == "3.12"
pyclipper==1.3.0.post6 ; python_version == "3.12"
pycparser==2.22 ; python_version == "3.12"
pycryptodome==3.23.0 ; python_version == "3.12"
pydantic-core==2.33.2 ; python_version == "3.12"
pydantic-settings==2.10.1 ; python_version == "3.12"
pydantic==2.11.7 ; python_version == "3.12"
pydub==0.25.1 ; python_version == "3.12"
pyee==13.0.0 ; python_version == "3.12"
pyfiglet==1.0.3 ; python_version == "3.12"
pygments==2.19.2 ; python_version == "3.12"
pyjwt==2.10.1 ; python_version == "3.12"
pylatexenc==2.10 ; python_version == "3.12"
pymongo==4.11.3 ; python_version == "3.12"
pymupdf==1.26.3 ; python_version == "3.12"
pynacl==1.5.0 ; python_version == "3.12"
pyparsing==3.2.3 ; python_version == "3.12"
pypdf==5.9.0 ; python_version == "3.12"
pypdfium2==4.30.0 ; python_version == "3.12"
pyperclip==1.9.0 ; python_version == "3.12"
pyreadline3==3.5.4 ; python_version == "3.12" and sys_platform == "win32"
pyspellchecker==0.8.3 ; python_version == "3.12"
pytest==8.4.1 ; python_version == "3.12"
python-bidi==0.6.6 ; python_version == "3.12"
python-dateutil==2.9.0.post0 ; python_version == "3.12"
python-decouple==3.8 ; python_version == "3.12"
python-docx==1.2.0 ; python_version == "3.12"
python-dotenv==1.1.1 ; python_version == "3.12"
python-iso639==2025.2.18 ; python_version == "3.12"
python-magic==0.4.24 ; python_version == "3.12"
python-multipart==0.0.20 ; python_version == "3.12"
python-oxmsg==0.0.2 ; python_version == "3.12"
python-pptx==1.0.2 ; python_version == "3.12"
python-steam-api==2.2.0 ; python_version == "3.12"
pytube==15.0.0 ; python_version == "3.12"
pytz==2025.2 ; python_version == "3.12"
pywin32==311 ; (platform_system == "Windows" or sys_platform == "win32") and python_version == "3.12"
pyyaml==6.0.2 ; python_version == "3.12"
pyzmq==27.0.0 ; python_version == "3.12"
qdrant-client==1.15.0 ; python_version == "3.12"
questionary==2.1.0 ; python_version == "3.12"
ragatouille==0.0.9.post2 ; python_version == "3.12"
rank-bm25==0.2.2 ; python_version == "3.12"
rapidfuzz==3.13.0 ; python_version == "3.12"
realtime==2.6.0 ; python_version == "3.12"
referencing==0.36.2 ; python_version == "3.12"
regex==2025.7.29 ; python_version == "3.12"
requests-file==2.1.0 ; python_version == "3.12"
requests-oauthlib==2.0.0 ; python_version == "3.12"
requests-toolbelt==1.0.0 ; python_version == "3.12"
requests==2.32.4 ; python_version == "3.12"
rich-click==1.8.9 ; python_version == "3.12"
rich-rst==1.3.1 ; python_version == "3.12"
rich==14.1.0 ; python_version == "3.12"
robust-downloader==0.0.2 ; python_version == "3.12"
rpds-py==0.26.0 ; python_version == "3.12"
rsa==4.9.1 ; python_version == "3.12"
rtree==1.4.0 ; python_version == "3.12"
ruff==0.11.13 ; python_version == "3.12"
s3transfer==0.13.1 ; python_version == "3.12"
safehttpx==0.1.6 ; python_version == "3.12"
safetensors==0.5.3 ; python_version == "3.12"
scikit-image==0.25.2 ; python_version == "3.12"
scikit-learn==1.7.1 ; python_version == "3.12"
scipy==1.16.1 ; python_version == "3.12"
secure-smtplib==0.1.1 ; python_version == "3.12"
semantic-version==2.10.0 ; python_version == "3.12"
semchunk==2.2.2 ; python_version == "3.12"
sentence-transformers==5.0.0 ; python_version == "3.12"
serpapi==0.1.5 ; python_version == "3.12"
setuptools==75.9.1 ; python_version == "3.12"
sgfmill==1.1.1 ; python_version == "3.12"
sgmllib3k==1.0.0 ; python_version == "3.12"
sh==2.2.2 ; python_version == "3.12"
shapely==2.1.1 ; python_version == "3.12"
shellingham==1.5.4 ; python_version == "3.12"
simple-salesforce==1.12.6 ; python_version == "3.12"
simple-term-menu==1.6.6 ; python_version == "3.12"
simsimd==6.5.0 ; python_version == "3.12"
six==1.17.0 ; python_version == "3.12"
smmap==5.0.2 ; python_version == "3.12"
sniffio==1.3.1 ; python_version == "3.12"
soupsieve==2.7 ; python_version == "3.12"
spinners==0.0.24 ; python_version == "3.12"
sqlalchemy==2.0.42 ; python_version == "3.12"
sqlparse==0.5.3 ; python_version == "3.12"
srsly==2.5.1 ; python_version == "3.12"
sse-starlette==3.0.2 ; python_version == "3.12"
stack-data==0.6.3 ; python_version == "3.12"
starlette==0.46.2 ; python_version == "3.12"
storage3==0.12.0 ; python_version == "3.12"
strenum==0.4.15 ; python_version == "3.12"
stripe-agent-toolkit==0.6.1 ; python_version == "3.12"
striprtf==0.0.26 ; python_version == "3.12"
supabase==2.17.0 ; python_version == "3.12"
supafunc==0.10.1 ; python_version == "3.12"
sympy==1.13.1 ; python_version == "3.12"
tabulate==0.9.0 ; python_version == "3.12"
tavily-python==0.5.4 ; python_version == "3.12"
telethon==1.40.0 ; python_version == "3.12"
tenacity==8.5.0 ; python_version == "3.12"
termcolor==3.1.0 ; python_version == "3.12"
textual==5.0.1 ; python_version == "3.12"
threadpoolctl==3.6.0 ; python_version == "3.12"
tifffile==2025.6.11 ; python_version == "3.12"
tiktoken==0.9.0 ; python_version == "3.12"
tokenizers==0.21.4 ; python_version == "3.12"
toml==0.10.2 ; python_version == "3.12"
tomli==2.2.1 ; python_version == "3.12"
tomlkit==0.13.3 ; python_version == "3.12"
torch==2.6.0+cu118 ; python_version == "3.12"
torchaudio==2.6.0+cu118 ; python_version == "3.12"
torchvision==0.21.0+cu118 ; python_version == "3.12"
tornado==6.5.1 ; python_version == "3.12"
tqdm==4.67.1 ; python_version == "3.12"
traitlets==5.14.3 ; python_version == "3.12"
transformers==4.54.1 ; python_version == "3.12"
tree-sitter-languages==1.10.2 ; python_version == "3.12"
tree-sitter==0.24.0 ; python_version == "3.12"
triton==3.2.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version == "3.12"
twilio==9.7.0 ; python_version == "3.12"
typer==0.16.0 ; python_version == "3.12"
typing-extensions==4.14.1 ; python_version == "3.12"
typing-inspect==0.9.0 ; python_version == "3.12"
typing-inspection==0.4.1 ; python_version == "3.12"
tzdata==2025.2 ; python_version == "3.12"
uc-micro-py==1.0.3 ; python_version == "3.12"
ujson==5.10.0 ; python_version == "3.12"
unstructured-client==0.41.0 ; python_version == "3.12"
unstructured==0.17.2 ; python_version == "3.12"
uritemplate==4.2.0 ; python_version == "3.12"
urllib3==2.5.0 ; python_version == "3.12"
uvicorn==0.34.3 ; python_version == "3.12"
validators==0.35.0 ; python_version == "3.12"
virtualenv==20.32.0 ; python_version == "3.12"
voyager==2.1.0 ; python_version == "3.12"
wcwidth==0.2.13 ; python_version == "3.12"
webencodings==0.5.1 ; python_version == "3.12"
websocket==0.2.1 ; python_version == "3.12"
websockets==15.0.1 ; python_version == "3.12"
werkzeug==3.1.3 ; python_version == "3.12"
wikipedia==1.4.0 ; python_version == "3.12"
windows-curses==2.4.1 ; python_version == "3.12" and sys_platform == "win32"
wrapt==1.17.2 ; python_version == "3.12"
wsproto==1.2.0 ; python_version == "3.12"
xlsxwriter==3.2.5 ; python_version == "3.12"
xmltodict==0.14.2 ; python_version == "3.12"
xxhash==3.5.0 ; python_version == "3.12"
yagmail==0.15.293 ; python_version == "3.12"
yarl==1.20.1 ; python_version == "3.12"
youtube-search==2.1.2 ; python_version == "3.12"
youtube-transcript-api==1.2.1 ; python_version == "3.12"
zeep==4.3.1 ; python_version == "3.12"
zep-python==2.0.2 ; python_version == "3.12"
zope-event==5.1.1 ; python_version == "3.12"
zope-interface==7.2 ; python_version == "3.12"
zstandard==0.23.0 ; python_version == "3.12"
